<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <title>Minicafe - 404</title>
    </head>
    <body>
        <div>
            <h1 class="w3-panel w3-green">MINICAFE - 404</h1>
        </div>
        <h2>we are sorry, but the page you requested was not found.</h2>
        <a href="#" class="w3-button w3-black">Go Home</a>
        <a href="#" class="w3-button w3-black">Contact us</a>
    </body>
</html>