<!doctype html>
<html lang="ko">
    <head>
        {% include '/inc/head.html' %}
    </head>
    <body>
        {% include '/inc/header.html' %}
        {% include '/inc/nav.html' %}
        <main class="w3-center" style="min-height: 480px;">
            <h3>회원 상세 정보</h3>          
            <p><b>번호</b> : 1</p>
            <p><b>아이디</b> : gdhong</p>
            <p><b>비밀번호</b> : 1234</p>
            <p><b>이름</b> : 홍길동</p>
            <p><a class="w3-btn w3-black" href="/member/setMemberForm.html">수정 </a> <a class="w3-btn w3-black" href="#">삭제</a></p>            
        </main>
        {% include '/inc/footer.html' %}
    </body>
</html>
